#headerText{
    color: black
}
#trainer{
    height:600px;
    text-align: center;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
}
#pokeball{
    height:300px;
}

#alakazam{
    height: 700px;
    text-align: center;
    background: url(abackground.jpg);
    background-attachment: fixed;
}
.attributes-list{
    /* padding: 90px; */
    /* text-align: left; */
    list-style: none;
    font-family: 'Press Start 2P', cursive;
}
.attack,.defense,.abilities{
    padding-top:20px
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:40px;
}
.pokemon-pic{
    height:300px;

}

#arceus{
    height: 700px;
    text-align: center;
    background: url(arceus-bg.jpg);
    background-attachment: fixed;
}

#machamp{
    height: 700px;
    text-align: center;
    background: url(mbackground.jpg);
    background-size: cover;
    background-attachment: fixed;

}

#pokeball:hover{
        animation: shake .2s;

      
}

.nav-wrapper{
    background-color:rgb(228,200,68)
}
@keyframes shake {
    50% {
        transform: rotate(10deg);
      }

    100% {
      transform: rotate(-10deg);
    }
  }

  @media screen and (min-width: 600px) {
    h2{
        position: relative;
         top: -100px; 
    }
  }

  